#header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  background:#FFF;
  border-bottom: 1px solid rgb(218, 218, 218);
  .logo-wrap {
    padding-left: 20px;
    .home-logo {
      width: 132px;
      height: 24px;
      cursor: pointer;
      background: url("/assets/images/logo2.png") no-repeat center;
      text-indent: -9999em;
    }
    .logo-title {
      width: 70px;
    }
  }
  .menu-wrap {
    height: 77px;
  }
  .user-info-wrap {
    width: 132px;
    padding-right: 20px;
  }

  .menu-title {
    color: #00256C;
  }
}

.dropdown-trigger{
  flex-shrink: 0;
  margin: 0 22px;
  height: 100%;
  border-bottom: 2px solid transparent;
  padding-top: 2px;
}
.dropdown-trigger:hover a,.dropdown-trigger:hover h4{
  color: #0F3E86 ;
}

.triger-active {
  border-bottom: 2px solid #001863;
}

.dropdown-content {
  z-index: 10;
  overflow: hidden;
  min-width: 198px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  box-shadow: rgba(0, 37, 108, 0.1) 0.125rem 0.625rem 1rem;
  
}

.dropdown-item {
  p {
    width: 100%;
    padding: 10px;

    &:hover {
      cursor: pointer;
      color: #0F3E86;
      font-weight: bold;
    }
  }

  svg {
    position: absolute;
    right: 0;
  }
}
// .dropdown-content {
//   position: absolute;
//   top: 100%;
//   z-index: 1000;
//   left: -50% !important;
// }
.path-active {
  background-color: #DADADA;
}