#header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  background:#FFF;
  border-bottom: 1px solid rgb(218, 218, 218);
  .logo-wrap {
    padding-left: 20px;
    .home-logo {
      width: 132px;
      height: 24px;
      cursor: pointer;
      background: url("/assets/images/logo2.png") no-repeat center;
      text-indent: -9999em;
    }
    .logo-title {
      width: 70px;
    }
  }
  .menu-wrap {
    height: 77px;
  }
  .user-info-wrap {
    width: 132px;
    padding-right: 20px;
  }

  .menu-title {
  }
}

.dropdown-trigger{
  flex-shrink: 0;
  margin: 0 22px;
  height: 100%;
  border-bottom: 2px solid transparent;
  padding-top: 2px;
}
.dropdown-trigger:hover a,.dropdown-trigger:hover h4{
  color: #0F3E86 ;
}

.triger-active {
  border-bottom: 2px solid #001863;
}

.dropdown-content {
  z-index: 10;
  overflow: hidden;
  min-width: 198px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  box-shadow: rgba(0, 37, 108, 0.1) 0.125rem 0.625rem 1rem;
  
}

.dropdown-item {
  p {
    width: 100%;
    padding: 10px;
    color: #666;
    font-size: .8rem;
    letter-spacing: -0.025rem;

    &:hover {
      cursor: pointer;
      color: #0F3E86;
      font-weight: bold;
      letter-spacing: -0.025rem;
    }
  }

  svg {
    position: absolute;
    right: 0;
  }
}
// .dropdown-content {
//   position: absolute;
//   top: 100%;
//   z-index: 1000;
//   left: -50% !important;
// }
.path-active {
  background-color: #DADADA;
}
.dropDownMenu{
  position: absolute;
  background:#FFF;
  width: 100%;
  padding: 1rem;
  z-index: 81;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
  box-shadow: rgba(0, 37, 108, 0.1) 0.125rem 0.625rem 1rem;
  
}
.dropDownMenu.close{
  display: none;
}
.dropDownMenu.open{
  display: block;
}
.dropDownMenu .dropDownWrap{
  display: flex;
  padding: 0 20px;
}
.dropDownMenu .dropDownItem{
  flex: 1;
  border-right: 1px solid rgb(218, 218, 218);
  padding:0 1rem;
  padding-bottom: 30px;
}
.dropDownMenu .dropDownItem .depth1{
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  line-height: 1.5;
  // color: #fff;
  display: block;
}
.dropDownMenu .dropDownItem .depth2{
  cursor: pointer;
  padding: 0.75rem 0px;
  font-weight: 400; 
  font-size: 0.8125rem;
  color: rgb(52, 52, 52);
  display: block;
}
.dropDownMenu .dropDownItem>div div:last-child{
  
}
.dropDownMenu .dropDownItem a:hover{
  font-weight: 500;
  color: rgb(0, 37, 108);
}
.dropDownMenu .dropDownItem:last-child{
  border-right: 0;
}

#header.admin{
  background:#001863;
  border-bottom: 1px solid #ddd;
  .home-logo {
    background: url("/assets/images/logo1.png") no-repeat center;
  }
  .menu-title {
    color:#b1b5c5;
  }
  .triger-active {
    border-bottom: 2px solid #fff;
  }
  .dropdown-trigger:hover a,.dropdown-trigger:hover h4{
    color: #fff ;
  }
  .user-info-wrap {
    svg{
      color: rgba(255,255,255,0.5);
    }
    span{
      svg{
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}
.dropDownMenu { 
  .dropdown-subwrap{
    padding: .75rem 0;
    .dropdown-item{
      p{
        padding: 4px 4px 4px 10px;
        position: relative;
        &::before{
          content: '';
          width: 3px;
          height: 1px;
          background: #666;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 2px;
        }
        &:hover::before{
          background: #0F3E86;
        }
      }
    }
  }
}