.verticalTable {
  text-overflow: ellipsis;
  overflow-x: auto;
  white-space: nowrap;
}

.verticalTableTD {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.verticalTableTH {
  overflow: hidden;
}

.verticalTableDiv {
  width: inherit;
  min-width: 100%;
}
