@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('/assets/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/assets/fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('/assets/fonts/roboto/Roboto-Bold.ttf');
}
body,body *{
  font-family: 'Roboto' , 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  letter-spacing: -0.5px;
}
a {
  text-decoration: none;
}
.width-50 { width: 50%; }
.width-100 { width: 100%; }
.height-100 { height: 100%; }
.select-basic { width: 11.25rem; }
.select-page { width: 100px; z-index: 1; }
.pagination-layout { position: relative; }
.pagination {
  // position: absolute;
  width: 100%;
}
.hover {
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
  min-width:1280px;
}

svg {
  &:hover {
    cursor: pointer;
  }
}

/* margin */
.margin-top-8 { margin-top: 8px; }
.margin-top-100 { margin-top: 100px; }
.margin-top-200 { margin-top: 200px; }
.margin-bottom-100 { margin-bottom: 100px; }
.margin-bottom-200 { margin-bottom: 200px; }
.margin-left-100 { margin-left: 100px; }
.margin-left-200 { margin-left: 200px; }
.margin-right-100 { margin-right: 100px; }
.margin-right-200 { margin-right: 200px; }

/* padding */
.padding-5 { padding: 10px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-top-100 { padding-top: 100px; }
.padding-top-200 { padding-top: 200px; }
.padding-bottom-100 { padding-bottom: 100px; }
.padding-bottom-200 { padding-bottom: 200px; }
.padding-left-100 { padding-left: 100px; }
.padding-left-200 { padding-left: 200px; }
.padding-right-100 { padding-right: 100px; }
.padding-right-200 { padding-right: 200px; }

/* Grey */
.grey-50 { color: #F5F5F5 };
.grey-100 { color: #EBEBEB };
.grey-200 { color: #DADADA };
.grey-300 { color: #C9C9C9 };
.grey-400 { color: #B9B9B9 };
.grey-500 { color: #989898 };
.grey-600 { color: #777777 };
.grey-700 { color: #555555 };
.grey-800 { color: #343434 };
.grey-900 { color: #131313 };

/* Primary */
.primary-50 { color: #000000; background-color: #E6F9FF; }
.primary-100 { color: #000000; background-color: #D7F1FA; }
.primary-200 { color: #000000; background-color: #C5E7F4; }
.primary-300 { color: #000000; background-color: #A2D2EB; }
.primary-400 { color: #FFFFFF; background-color: #80BADF; }
.primary-500 { color: #FFFFFF; background-color: #5F9DCF; }
.primary-600 { color: #FFFFFF; background-color: #407DBA; }
.primary-700 { color: #FFFFFF; background-color: #255DA1; }
.primary-800 { color: #FFFFFF; background-color: #0F3E86; }
.primary-900 { color: #FFFFFF; background-color: #00256C; }

/* Secondary */
.secondary-50 { color: #000000; background-color: #EBF7FF; }
.secondary-100 { color: #000000; background-color: #C8E9FF; }
.secondary-200 { color: #000000; background-color: #A6DCFF; }
.secondary-300 { color: #000000; background-color: #68BDF6; }
.secondary-400 { color: #FFFFFF; background-color: #36A4ED; }
.secondary-500 { color: #FFFFFF; background-color: #118FE4; }
.secondary-600 { color: #FFFFFF; background-color: #0477C5; }
.secondary-700 { color: #FFFFFF; background-color: #0063A5; }
.secondary-800 { color: #FFFFFF; background-color: #005086; }
.secondary-900 { color: #FFFFFF; background-color: #003D66; }

/* Confirm */
.confirm-50 { color: #000000; background-color: #E6F9FF; }
.confirm-100 { color: #000000; background-color: #D7F1FA; }
.confirm-200 { color: #000000; background-color: #C5E7F4; }
.confirm-300 { color: #000000; background-color: #A2D2EB; }
.confirm-400 { color: #FFFFFF; background-color: #80BADF; }
.confirm-500 { color: #FFFFFF; background-color: #5F9DCF; }
.confirm-600 { color: #FFFFFF; background-color: #407DBA; }
.confirm-700 { color: #FFFFFF; background-color: #255DA1; }
.confirm-800 { color: #FFFFFF; background-color: #0F3E86; }
.confirm-900 { color: #FFFFFF; background-color: #00256C; }

/* Error */
.error-50 { color: #000000; background-color: #F9ECEE; }
.error-100 { color: #000000; background-color: #F5C7CC; }
.error-200 { color: #000000; background-color: #F8A1AB; }
.error-300 { color: #000000; background-color: #EF5F70; }
.error-400 { color: #FFFFFF; background-color: #E72A40; }
.error-500 { color: #FFFFFF; background-color: #DE001B; }
.error-600 { color: #FFFFFF; background-color: #B60016; }
.error-700 { color: #FFFFFF; background-color: #8D0313; }
.error-800 { color: #FFFFFF; background-color: #6A0613; }
.error-900 { color: #FFFFFF; background-color: #440910; }

/* Info */
.info-50 { color: #000000; background-color: #ECF3FE; }
.info-100 { color: #000000; background-color: #D3E8FF; }
.info-200 { color: #000000; background-color: #B1D7FF; }
.info-300 { color: #000000; background-color: #80B8FB; }
.info-400 { color: #FFFFFF; background-color: #529AF2; }
.info-500 { color: #FFFFFF; background-color: #277EE8; }
.info-600 { color: #FFFFFF; background-color: #0064DE; }
.info-700 { color: #FFFFFF; background-color: #1B59A4; }
.info-800 { color: #FFFFFF; background-color: #25466F; }
.info-900 { color: #FFFFFF; background-color: #1F2D3D; }

/* icon */
.searchIcon {
  text-indent: -999999px;
  width:14px;
  height: 15px;
  background: url('/assets/images/icon_search.png');
}
.regIcon{
  text-indent: -999999px;
  width:13px;
  height: 13px;
  position: relative;
}
.regIcon::before{
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 1px;
  background: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.regIcon::after{
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 13px;
  background: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.star{
  text-indent: -999999px;
  display: block;
  width:16px;
  height: 15px;
  background: url('/assets/images/starIcon.png') center no-repeat;
  cursor: pointer;
}
.star.active{
  text-indent: -999999px;
  display: block;
  width:16px;
  height: 15px;
  background: url('/assets/images/starIconActive.png') center no-repeat;
  cursor: pointer;
}
.total{
  color:#118fe4;
}
.listTableBody{
  >*:hover{
    background: rgb(245, 245, 245);
    cursor: pointer;
  }
}
.shadowBox1{
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.08);
}
.badge{
  height: 28px;
  border-radius: 14px;
  font-size: 14px;
  width: auto;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
  font-weight: 600;
}
.badge.blue{
  background: #e6f9ff;
  color: #00256c;
}
.ellipsis1{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.dragItemLocation{
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.dragItemLocation svg{
  width: 1rem;
  height: 1rem;
  color: rgb(201, 201, 201);
  cursor: default;
}
.rightPopup{
  // position: absolute;
  right: 0;
  // transform: translateX(100%);
  background: #FFF;
  width: 25.150rem;
  height: 100%;
  box-shadow: rgba(0, 37, 108, 0.12) 2rem 1rem 2rem;
  border-radius: 0.125rem;
  overflow: auto;
  .popupTop{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    word-break: break-word;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(19, 19, 19);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.rightPopup.openFalse{
  display: none;
}
.rightPopup.openTrue{
  display: block;
}
.dropChild-100per .dropList{
  width: 100% !important;
}
.contentDeatilWrap{
  .attachFileList{
    display: flex;
    width: 100%;
    flex-direction: column;
    svg{
      font-size: 14px;
      vertical-align: middle;
    }
  }
}
.dataGridWrap{
  .accordionWrap{
    > div {
      width: 100%;
      border-top: 1px solid rgb(0, 37, 108);
      border-bottom: 1px solid rgb(218, 218, 218);
    }
    h3{
      position: relative;
      button{
        padding-left: 34px;
      }
      button::after{
        content: 'Q.';
        display: inline-block;
        position: absolute;
        left: 12px;
        font-size: 0.875rem;
      }
    }
    .sc-kgOKUu.dldJrs{
      position: relative;
    }
    .answer{
      padding-left: 22px;
    }
    .answer::after{
      content: 'A.';
      display: inline-block;
      position: absolute;
      left: 1px;
      top: 16px;
      z-index: 1;
      font-size: 0.875rem;
    }
  }
}

.no-data-wrap {
  border-bottom: 1px solid rgb(218, 218, 218);
  height: 240px;
}
.tree-wrap{
  border-right: 1px solid #ddd;
}
.user-search{
  min-width: 250px;
}
.user-seleted{
  min-width: 500px;
}
.updown-btns{
  padding: 10px 0;
  button{
    svg{
      width: 2rem;
      height: 2rem;
    }
  }
}
.reg{
  height: 66px !important;
}

@media screen and (max-width: 1652px) {
  #aside {
    transform: unset !important;
  }
  #home,#main {
    padding-left: calc(1.75rem + 170px) !important;
  }
  .home_icon_01, .home_icon_02, .home_icon_03 {
    width: 70px !important;
  }
  .box1 h3{
    font-size:1rem !important;
  }
}
