@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('/assets/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/assets/fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('/assets/fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('/assets/fonts/roboto/Roboto-Black.ttf');
}

body,
body * {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  letter-spacing: -0.5px;
}
a {
  text-decoration: none;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.select-basic {
  width: 11.25rem;
}
.select-page {
  width: 100px;
}
.pagination-layout {
  position: relative;
}
.pagination {
  // position: absolute;
  width: 100%;
}
.hover {
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
  min-width: 1280px;
}

svg {
  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none !important;
}
.overflow-auto {
  overflow: auto;
}
.relative {
  position: relative;
}

/* height */
.height-200 {
  height: 200px;
}
.height-300 {
  height: 300px;
}

/* margin */
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-200 {
  margin-top: 200px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-bottom-200 {
  margin-bottom: 200px;
}
.margin-left-100 {
  margin-left: 100px;
}
.margin-left-200 {
  margin-left: 200px;
}
.margin-right-100 {
  margin-right: 100px;
}
.margin-right-200 {
  margin-right: 200px;
}

/* padding */
.padding-5 {
  padding: 10px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-top-200 {
  padding-top: 200px;
}
.padding-bottom-100 {
  padding-bottom: 100px;
}
.padding-bottom-200 {
  padding-bottom: 200px;
}
.padding-left-100 {
  padding-left: 100px;
}
.padding-left-200 {
  padding-left: 200px;
}
.padding-right-100 {
  padding-right: 100px;
}
.padding-right-200 {
  padding-right: 200px;
}

.white {
  color: #ffffff !important;
}

/* Grey */
.grey-50 {
  color: #f5f5f5;
}
.grey-100 {
  color: #ebebeb;
}
.grey-200 {
  color: #dadada;
}
.grey-300 {
  color: #c9c9c9;
}
.grey-400 {
  color: #b9b9b9;
}
.grey-500 {
  color: #989898;
}
.grey-600 {
  color: #777777;
}
.grey-700 {
  color: #555555;
}
.grey-800 {
  color: #343434;
}
.grey-900 {
  color: #131313;
}

/* Primary */
.primary-50 {
  color: #000000;
  background-color: #e6f9ff;
}
.primary-100 {
  color: #000000;
  background-color: #d7f1fa;
}
.primary-200 {
  color: #000000;
  background-color: #c5e7f4;
}
.primary-300 {
  color: #000000;
  background-color: #a2d2eb;
}
.primary-400 {
  color: #ffffff;
  background-color: #80badf;
}
.primary-500 {
  color: #ffffff;
  background-color: #5f9dcf;
}
.primary-600 {
  color: #ffffff;
  background-color: #407dba;
}
.primary-700 {
  color: #ffffff;
  background-color: #255da1;
}
.primary-800 {
  color: #ffffff;
  background-color: #0f3e86;
}
.primary-900 {
  color: #ffffff;
  background-color: #00256c;
}

/* Secondary */
.secondary-50 {
  color: #000000;
  background-color: #ebf7ff;
}
.secondary-100 {
  color: #000000;
  background-color: #c8e9ff;
}
.secondary-200 {
  color: #000000;
  background-color: #a6dcff;
}
.secondary-300 {
  color: #000000;
  background-color: #68bdf6;
}
.secondary-400 {
  color: #ffffff;
  background-color: #36a4ed;
}
.secondary-500 {
  color: #ffffff;
  background-color: #118fe4;
}
.secondary-600 {
  color: #ffffff;
  background-color: #0477c5;
}
.secondary-700 {
  color: #ffffff;
  background-color: #0063a5;
}
.secondary-800 {
  color: #ffffff;
  background-color: #005086;
}
.secondary-900 {
  color: #ffffff;
  background-color: #003d66;
}

/* Confirm */
.confirm-50 {
  color: #000000;
  background-color: #e6f9ff;
}
.confirm-100 {
  color: #000000;
  background-color: #d7f1fa;
}
.confirm-200 {
  color: #000000;
  background-color: #c5e7f4;
}
.confirm-300 {
  color: #000000;
  background-color: #a2d2eb;
}
.confirm-400 {
  color: #ffffff;
  background-color: #80badf;
}
.confirm-500 {
  color: #ffffff;
  background-color: #5f9dcf;
}
.confirm-600 {
  color: #ffffff;
  background-color: #407dba;
}
.confirm-700 {
  color: #ffffff;
  background-color: #255da1;
}
.confirm-800 {
  color: #ffffff;
  background-color: #0f3e86;
}
.confirm-900 {
  color: #ffffff;
  background-color: #00256c;
}

/* Error */
.error-50 {
  color: #000000;
  background-color: #f9ecee;
}
.error-100 {
  color: #000000;
  background-color: #f5c7cc;
}
.error-200 {
  color: #000000;
  background-color: #f8a1ab;
}
.error-300 {
  color: #000000;
  background-color: #ef5f70;
}
.error-400 {
  color: #ffffff;
  background-color: #e72a40;
}
.error-500 {
  color: #ffffff;
  background-color: #de001b;
}
.error-600 {
  color: #ffffff;
  background-color: #b60016;
}
.error-700 {
  color: #ffffff;
  background-color: #8d0313;
}
.error-800 {
  color: #ffffff;
  background-color: #6a0613;
}
.error-900 {
  color: #ffffff;
  background-color: #440910;
}

/* Info */
.info-50 {
  color: #000000;
  background-color: #ecf3fe;
}
.info-100 {
  color: #000000;
  background-color: #d3e8ff;
}
.info-200 {
  color: #000000;
  background-color: #b1d7ff;
}
.info-300 {
  color: #000000;
  background-color: #80b8fb;
}
.info-400 {
  color: #ffffff;
  background-color: #529af2;
}
.info-500 {
  color: #ffffff;
  background-color: #277ee8;
}
.info-600 {
  color: #ffffff;
  background-color: #0064de;
}
.info-700 {
  color: #ffffff;
  background-color: #1b59a4;
}
.info-800 {
  color: #ffffff;
  background-color: #25466f;
}
.info-900 {
  color: #ffffff;
  background-color: #1f2d3d;
}

/* icon */
.searchIcon {
  text-indent: -999999px;
  width: 14px;
  height: 15px;
  background: url('/assets/images/icon_search.png');
}
.regIcon {
  text-indent: -999999px;
  width: 13px;
  height: 13px;
  position: relative;
}
.regIcon::before {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 1px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.regIcon::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 13px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star {
  text-indent: -999999px;
  display: block;
  width: 16px;
  height: 15px;
  background: url('/assets/images/starIcon.png') center no-repeat;
  cursor: pointer;
}
.star.active {
  text-indent: -999999px;
  display: block;
  width: 16px;
  height: 15px;
  background: url('/assets/images/starIconActive.png') center no-repeat;
  cursor: pointer;
}
.total {
  color: #118fe4;
}
.listTableBody {
  > *:hover {
    background: rgb(245, 245, 245);
    cursor: pointer;
  }
}
.shadowBox1 {
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.08);
}
.badge {
  height: 28px;
  border-radius: 14px;
  font-size: 14px;
  width: auto;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
  font-weight: 600;
}
.badge.blue {
  background: #e6f9ff;
  color: #00256c;
}
.ellipsis1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.dragItemLocation {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.dragItemLocation svg {
  width: 1rem;
  height: 1rem;
  color: rgb(201, 201, 201);
  cursor: default;
}
.rightPopup {
  // position: absolute;
  right: 0;
  // transform: translateX(100%);
  background: #fff;
  width: 25.15rem;
  height: 100%;
  box-shadow: rgba(0, 37, 108, 0.12) 2rem 1rem 2rem;
  border-radius: 0.125rem;
  overflow: auto;
  .popupTop {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    word-break: break-word;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(19, 19, 19);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.rightPopup.openFalse {
  display: none;
}
.rightPopup.openTrue {
  display: block;
}
.dropChild-100per .dropList {
  width: 100% !important;
}
.contentDeatilWrap {
  .attachFileList {
    display: flex;
    width: 100%;
    flex-direction: column;
    svg {
      font-size: 14px;
      vertical-align: middle;
    }
  }
}
.dataGridWrap {
  .accordionWrap {
    > div {
      width: 100%;
      border-top: 1px solid rgb(0, 37, 108);
      border-bottom: 1px solid rgb(218, 218, 218);
    }
    h3 {
      position: relative;
      button {
        padding-left: 34px;
      }
      button::after {
        content: 'Q.';
        display: inline-block;
        position: absolute;
        left: 12px;
        font-size: 0.875rem;
      }
    }
    .sc-kgOKUu.dldJrs {
      position: relative;
    }
    .answer {
      padding-left: 22px;
      position: relative;
    }
    .answer::after {
      content: 'A.';
      display: inline-block;
      position: absolute;
      left: 1px;
      top: -60px;
      z-index: 1;
      font-size: 0.875rem;
    }
  }
}

.no-data-wrap {
  border-bottom: 1px solid rgb(218, 218, 218);
  height: 240px;
}
.tree-wrap {
  border-right: 1px solid #ddd;
}
.user-search {
  min-width: 250px;
}
.user-seleted {
  min-width: 500px;
}
.updown-btns {
  padding: 10px 0;
  button {
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
.btn-reg,
.btn-confirm {
  height: 66px !important;
}
.btn-fav {
  width: 1.5rem !important;
  height: 1.5rem !important;
  svg {
    color: #ddd;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  &.on {
    svg {
      color: #e72a40;
    }
  }
}

.verticalTable {
  overflow-x: auto;
}

@media screen and (max-width: 1652px) {
  #aside {
    transform: unset !important;
  }
  .single-page,
  #main {
    padding-left: calc(1.75rem + 170px) !important;
  }
  .home_icon_01,
  .home_icon_02,
  .home_icon_03 {
    width: 70px !important;
  }
  .box1 h3 {
    font-size: 1rem !important;
  }
}
.dashBoardWrap {
  width: 100%;
}
.topCard {
  border-radius: 24px;
  width: 100%;
  display: flex;
}
.dashBoardWrap .dashBoardBox {
  border: 1px solid #dddddd;
}

.dashBoardWrap .topCard {
  background: #00256c;
  border-radius: 24px;
  overflow: hidden;
}
.dashBoardWrap .topCard .dashBoardBox {
  height: 374px;
}
.dashBoardWrap .topCard .dashBoardBox.n1 {
  background: #00256c;
  width: 350px !important;
  border: 0;
  padding: 2rem;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .name {
  font-size: 1.75rem;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .name .en {
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 8px;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .profile .top {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #8bc0ff;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .profile .top .kr {
  padding-left: 8px;
  margin-left: 8px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .profile .top .kr::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.dashBoardWrap .topCard .dashBoardBox.n1 .profile .item {
  display: flex;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .profile .item .key {
  font-size: 0.95rem;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  width: 90px;
  flex-shrink: 0;
}
.dashBoardWrap .topCard .dashBoardBox.n1 .profile .item .value {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashBoardWrap .topCard .dashBoardBox.n2 .top,
.dashBoardWrap .topCard .dashBoardBox.n3 .top {
  font-size: 1rem;
  color: #4876ef;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 36px;
  border-bottom: 1px solid #aaa;
}
.dashBoardWrap .topCard .dashBoardBox.n2 .top .kr,
.dashBoardWrap .topCard .dashBoardBox.n3 .top .kr {
  font-size: 0.8125rem;
  color: #222222;
  font-weight: 500;
  margin-left: 8px;
}
.dashBoardWrap .topCard .dashBoardBox.n2,
.dashBoardWrap .topCard .dashBoardBox.n3 {
  padding: 1.875rem;
}

.dashBoardWrap .topCard .dashBoardBox.n2 {
  width: calc(50% - 175px);
  background: #fff;
  border: 1px solid #ddd;
  border-right: 0;
  border-radius: 22px 0 0 22px;
  padding-right: 0;
}
.dashBoardWrap .topCard .dashBoardBox.n2 .item {
  height: 34px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  border-bottom: 1px solid #eee;
}
.dashBoardWrap .topCard .dashBoardBox.n2 .item:last-child {
  border-bottom: 0;
}
.dashBoardWrap .topCard .dashBoardBox.n2 .item .key {
  width: 65%;
  font-size: 0.8125rem;
  color: #222222;
  font-weight: 400;
  padding-right: 1rem;
  font-weight: 500;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dashBoardWrap .topCard .dashBoardBox.n2 .item .value {
  width: 35%;
  font-size: 0.875rem;
  color: #222222;
  font-weight: 700;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashBoardWrap .topCard .dashBoardBox.n3 {
  width: calc(50% - 175px);
  background: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-radius: 0 22px 22px 0;
}
.dashBoardWrap .topCard .dashBoardBox.n3 .middle {
  display: flex;
  height: 78px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 3px;
}
.dashBoardWrap .topCard .dashBoardBox.n3 .middle .left,
.dashBoardWrap .topCard .dashBoardBox.n3 .middle .right {
  font-size: 0.875rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.dashBoardWrap .topCard .dashBoardBox.n3 .middle .left .num,
.dashBoardWrap .topCard .dashBoardBox.n3 .middle .right .num {
  font-size: 22px;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 500;
  margin-left: 20px;
}
.dashBoardWrap .topCard .dashBoardBox.n3 .middle .left {
  margin-right: 0.2rem;
}
.dashBoardWrap .topCard .dashBoardBox.n3 .middle .right {
  margin-left: 0.2rem;
}
.dashBoardWrap .topCard .dashBoardBox.n3 table {
  width: 100%;
  border-spacing: 0;
}
.dashBoardWrap .topCard .dashBoardBox.n3 table th {
  height: 40px;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.875rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 700;
}
// .dashBoardWrap .topCard .dashBoardBox.n3 table td:first-child{
//   font-weight: 500;
// }
.dashBoardWrap .topCard .dashBoardBox.n3 table td {
  text-align: center;
  font-size: 0.875rem;
  height: 28px;
  letter-spacing: -1px;
  line-height: 28px;
  color: #222222;
  font-family: 'Noto Sans KR';
  font-weight: 500;
}
.width-25 {
  width: 25%;
}

.dashBoardWrap .dashBoardBox.under {
  padding: 1.125rem;
  border-radius: 16px;
  border: 1px solid #dddddd;
  min-height: 225px;
  background: #fff;
}
.dashBoardWrap .dashBoardBox.under .top {
  height: 44px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  color: #4876ef;
  font-weight: 700;
  margin-bottom: 6px;
}
.dashBoardWrap .top .kr {
  margin-left: 8px;
  font-size: 13px;
  letter-spacing: -1px;
  color: #373f57;
  font-weight: 500;
}
.dashBoardWrap .item .key {
  padding-right: 10px;
}
.dashBoardWrap .item.middle {
  font-size: 0.875rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 500;
  min-height: 28px;

  padding: 0 3px;
  line-height: 28px;
}
.dashBoardWrap .item.middle .value .num {
  font-size: 1rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 700;
  margin-right: 8px;
}
.dashBoardWrap .item.large {
  min-height: 40px;
  align-items: center;
  padding: 0 3px;
  font-size: 0.875rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 700;
}
.dashBoardWrap .item.large > div {
  min-height: 42px;
}
.dashBoardWrap .item.large .value .num {
  font-size: 1rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 700;
  margin-right: 8px;
}
.dashBoardWrap .itemWrap {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 6px;
  padding-bottom: 6px;
}
.dashBoardWrap .link {
  cursor: pointer;
}
.dashBoardWrap .link:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.dashBoardWrap .viewMore {
  display: flex;
  margin: 20px auto 0;
  width: 183px;
  height: 38px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: center;
}
.dashBoardWrap .viewMore::after {
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background: url('./../images/viewMoreArrow.png');
  margin-left: 6px;
}
.dashBoardWrap .viewMore.true::after {
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background: url('./../images/viewMoreArrow.png');
  transform: rotate(180deg);
  margin-left: 6px;
}

.dashBoardWrap .smallTitle {
  font-size: 14px;
  letter-spacing: -1px;
  color: #00256c;
  font-weight: 700;
  min-height: 38px;
  align-items: center;
  display: flex;
  padding: 0 3px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 6px;
}
.dashBoardWrap .hideContents table {
  width: 100%;
  padding-top: 6px;
}
.dashBoardWrap .hideContents table th {
  height: 40px;
  font-size: 0.875rem;
  letter-spacing: -1px;
  color: #00256c;
  font-weight: 700;
  border-bottom: 1px solid #e5e5e5;
}
.dashBoardWrap .hideContents table tbody tr:first-child td {
  padding-top: 8px;
}
.dashBoardWrap .hideContents table td {
  font-size: 0.875rem;
  letter-spacing: -1px;
  color: #222222;
  font-weight: 700;
  // min-height: 26px;
  line-height: 26px;
}
.dashBoardWrap .hideContents table th,
.dashBoardWrap .hideContents table td {
  text-align: left;
}
.dashBoardWrap .hideContents .item .col {
  margin-left: 4px;
}

.dashBoardWrap .hideContents table.centerTable th,
.dashBoardWrap .hideContents table.centerTable td {
  text-align: center;
}
.dashBoardWrap .dashboardTitle {
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.MuiSelect-popper.MuiPopper-root {
  max-height: 180px;
  overflow: auto;
}
.tableTdScrollFix .verticalTableTD > div {
  overflow-y: hidden;
  min-height: unset;
}
.react-datepicker-popper {
  z-index: 999999999;
}
.RightScrollTable .verticalTableDiv {
  max-height: 473px;
  overflow: auto;
}
.tree-wrap #root {
  min-width: unset;
}
.verticalTable p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.innerDataGridWidth100 .verticalTable {
  width: 100%;
}
.tree-wrap p {
  white-space: nowrap;
  padding-right: 8px;
  height: 24px;
  line-height: 24px;
}
.tree-wrap section .primary-200 p {
  background: #c5e7f4;
}
.multiSelectTable .verticalTableDiv > div:nth-child(2) {
  height: 236px;
  max-height: 236px;
  overflow: auto;
}
