#home {
  padding: 20px;
  height: 100%;
}

.font-white {
  color: #fbfbfb !important;

  h1,h2,h3,h4,h5,p {
    color: #fbfbfb !important;
  }
}

.tabContent {
  min-width: 800px;
}

.box1 {
  height: 550px;
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  background: url("/assets/images/box1.png") no-repeat left;
  background-size: cover;
}

.box2 {
  height: 550px;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  background: url("/assets/images/box2.png") no-repeat left;
  background-size: cover;
}